@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.hero-text-shadow {
  text-shadow: -1px 1px 8px #00000070;
}

.general-info::before {
  content: "General Information";
  color: #2387df;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg) translatex(-50%);
  font-size: 2rem;
  font-weight: bold;
}
